@page
@model Web.Pages.Answers.IndexModel

@{
    ViewData["Title"] = "回答一覧";
}

<h1>回答一覧</h1>

<p>
    <a asp-page="Create">新規回答作成</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>回答日</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Answer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerDatetime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AnswerID">編集</a> |
                <a asp-page="./Details" asp-route-id="@item.AnswerID">詳細</a> |
                <a asp-page="./Delete" asp-route-id="@item.AnswerID">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>
